/*TODO Background - visual feedback*/
/*TODO Card - style*/
/*TODO Buttons - style*/

/*Global settings*/

/*image background*/
body {
  background-color: black;
}
/*Header*/
header {
  background-color: red;
  height: 100px;
}
/*Quiz card*/

/*Footer*/
footer {
  background-color: red;
  height: 100px;
}
